<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sqindia.net.oonbux">

    <permission
        android:name="sqindia.net.oonbux.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />


    <permission
        android:name="sqindia.net.oonbux.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="sqindia.net.oonbux.permission.C2D_MESSAGE" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <uses-permission android:name="sqindia.net.oonbux.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:overrideLibrary="com.toptoche.searchablespinnerlibrary"
        tools:replace="android:icon">

        <receiver
            android:name=".Notification.GcmBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="sqindia.net.oonbux" />
            </intent-filter>
        </receiver>


        <service android:name=".Notification.GcmNotificationIntentService" />


        <activity
            android:name=".Activity.Splash"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.Register"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />

        <activity
            android:name=".Activity.Login"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />


        <activity android:name=".Activity.Dashboard" />

        <activity android:name=".Activity.HowitWorks" />


        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/img_Picker" />

        <activity android:name=".Activity.AddLocation" />


        <activity android:name=".Activity.ChooseAddress" />

        <activity
            android:name=".Profile.ProfileInfo"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".Profile.ProfileDashboard"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Profile.ProfilePhysicalDeliveryAddress"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustPan" />

        <activity android:name=".Profile.Personal_Preferences"
            android:screenOrientation="sensorPortrait"/>


        <activity android:name=".Cart" />

        <activity android:name=".Activity.ManageAddress" />

        <activity
            android:name=".Pal.PalAccept"
            android:screenOrientation="sensorPortrait" />

        <activity android:name=".Pal.MyPalLists" />
        <activity android:name=".Chat.Pal_Chat_List" />
        <activity android:name=".Chat.Pal_Chat" android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDiyf6Iasx06QQs4_3tjilpraTHchMtSSE" />

    </application>


</manifest>